
.PrincipalButton {
    color: white;
    display: flex;
    width: 70px;
    height: 70px;
    position: fixed;
    z-index: 1;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 100px
}

.PrincipalButton span{
    font-size: 50px;
}


.ClasseButton{
    background-color: rgb(6, 151, 255);
    top: 750px;
    left: 10px;
}

.EstudoButton{
    background-color: rgb(21, 163, 69);
    top: 750px;
    right: 10px;
}

#ButtonAddEstudo{
    font-size: 10px !important;
}

/*estilo para quando o usuario estiver usando navegaodr pelo notebook ou pelo pc*/
@media screen and (min-width: 1025px){
    .PrincipalButton {
    color: white;
    display: flex;
    width: 100px;
    height: 100px;
    position: fixed;
    z-index: 1;
    cursor: pointer;
    bottom: 0px;
    left: 0px;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

.ClasseButton{
    background-color: rgb(6, 151, 255);
    top: 630px;
    left: 0px;
    border-radius: 0 50% 0% 0%; /* só o lado direito arredondado */
}

.PrincipalButton span{
    font-size: 50px;
}
.EstudoButton{
    width: 12%;
    height: 10vh;
    top: 600px;
    left: 20px;
    border-radius: 0px
}
#ButtonAddEstudo{
    font-size: 20px !important;
}

}
