.ContainerIssue {
    padding: 10px;
    border-radius: 0px 0px 30px 30px;
    background: linear-gradient(180deg,
            #8fb3e0 0%,
            #6f98cc 100%);
    height: 30vh;
    width: 100%;
    padding-top: 50%;
}

.ContainerIssue p{
    text-align: center;
}

@media screen and (min-width:1025px) {
    .ContainerIssue {
        padding-top: 20%;
        height: 50vh;
    }
}