.ContainerNav{
    display: flex;
    justify-content: center;
    background-color: rgb(149, 148, 148);
    border: 1px solid black;
    color:white;
    z-index: 1;
}

.ContainerNav h1{
    font-size: 30px;
}